<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.telephony" -->
    <!-- android:required="false" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="true" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" /> -->
<!--    FOREGROUND_SERVICE has been commented out because of Play Console Policy issue-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" /> -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" /> -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.INSTALL_PACKAGES" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.READ_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="32" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="32" /> -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" /> <!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MDC"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_clip"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".TourActivity"
            android:exported="false" />
        <activity
            android:name=".StudyMaterialActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".BlueprintActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".VirtualIDCardActivity"
            android:exported="false" />
        <activity
            android:name=".FAQActivity"
            android:exported="false" />
        <activity
            android:name=".MyAds"
            android:exported="false" />
        <activity
            android:name=".BottomSheetCreateAccount"
            android:exported="true" />
        <activity
            android:name=".RolesApplicationActivity"
            android:exported="false" />
        <activity
            android:name=".CreateLetter"
            android:exported="false" />
        <activity
            android:name=".LockActivity"
            android:exported="false" />
        <activity
            android:name=".QuickMenuActivity"
            android:exported="false" />

<!--        <property-->
<!--            android:name="android.adservices.AD_SERVICES_CONFIG"-->
<!--            android:resource="@xml/ga_ad_services_config"-->
<!--            tools:replace="android:resource" />-->

        <activity
            android:name=".NavigationAIActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".PluginsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5180621516690353~9337366487" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".VideosActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileViewsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AttendanceSheetActivity"
            android:exported="false" />
        <activity
            android:name=".AttendenceTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".ImageMagnifierActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".CreateInternshipNotification"
            android:exported="false" />
        <activity
            android:name=".ProjectActivity"
            android:exported="false" />
        <activity
            android:name=".CreateProject"
            android:exported="false" />
        <activity
            android:name=".AIToolsActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar" />
        <activity
            android:name=".FacultyCheckActivity"
            android:exported="false" />
        <activity
            android:name=".EventScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNotice"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppStoreActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="phonepe" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UploadsActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePost"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AccountInfo"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".UploadMemories"
            android:exported="false"
            android:parentActivityName=".AlbumActivity"/>
        <activity
            android:name=".ArtificialIntelligenceActivity"
            android:exported="false"
            android:enableOnBackInvokedCallback="true"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            tools:targetApi="tiramisu" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:parentActivityName=".DeveloperActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".BetaActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:parentActivityName=".AccountInfo"/>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".DeveloperActivity"/>
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:enableOnBackInvokedCallback="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".DeveloperActivity"
            android:exported="true"
            android:parentActivityName=".PasswordActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="bit.ly" />
                <data android:path="/unofficialmech" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccessDeniedActivity"
            android:exported="false"/>
        <activity
            android:name=".PasswordActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <!-- <meta-data -->
            <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
            <!-- android:resource="@xml/provider_paths"/> -->
        </provider> <!-- <meta-data -->
        <!-- android:name="come.google.android.gms.wallet.api.enabled" -->
        <!-- android:value="true" /> -->
        <service
            android:name=".ForegroundService"
            android:foregroundServiceType="remoteMessaging"
            android:stopWithTask="false" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".TileService"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ConnectionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".SmartWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>


    </application>

</manifest>